<p/>

<div class="landing">

  <h1 class="element underBorder"> Your functions: </h1>

  <div class="element">
    <%= link_to 'My Blogs', articles_path, class: 'btn btn-info' %>
    <p/>
    <p/>
    This is basic posting for assements and home work help.
  </div>

  <div class="element">
    <%= link_to 'My Uploads', items_path, class: 'btn btn-info' %>
    <p/>
    <p/>
    Basic Image Uploading. This is for more advanced help with home work.
  </div>

  <div class="element">
    <%= link_to 'My Classes', lectures_path, class: 'btn btn-info' %>
    <p/>
    <p/>
    Your classes tells you when, where and what you are studying.
  </div>

  <div class="element">
    <%= link_to 'My Chat Rooms', chat_rooms_path, class: 'btn btn-info' %>
    <p/>
    <p/>
    Chat room for direct messaging with lecutures.
  </div>

</div>
