
.eggshell{
  background-color: #F8F8FF;
  border: 5px;
  border-radius: 50px;
}
#userAccount{
  background-image: url('maleHead.png');
  background-repeat: no-repeat;
  border-radius: 50px;
  margin: auto;
  transition: all 0.3s ease;
}
#logout{
  width: 5rem;
  height: 2rem;
  margin: 5px 5px 5px 5px;
}
#userAccount:hover{
    background-image: url('maleHead.png');
    background-repeat: no-repeat;
    border-radius: 15px;
    margin: auto;
}

.title{
    background-repeat: no-repeat;
    border-radius: 45px;
    margin: auto;
    transition: all 0.6s ease;
    margin-bottom: 3.5rem;
    height: 100px;
    width: 650px;
    border: 2.5px #00FFFFFF solid;

    border-left: 5px solid #3ACFD5;
    border-right: 5px solid #3a4ed5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-position: 0 0, 0 100% ;
    background-repeat: no-repeat;
    -webkit-background-size: 100% 2.5px;
    -moz-background-size: 100% 2.5px;
    background-size: 100% 2.5px;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=),url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
    background-image: -webkit-linear-gradient(left, #3acfd5 0%, #3a4ed5 100%), -webkit-linear-gradient(left, #3acfd5 0%, #3a4ed5 100%);
    background-image: -moz-linear-gradient(left, #3acfd5 0%, #3a4ed5 100%), -moz-linear-gradient(left, #3acfd5 0%, #3a4ed5 100%);
    background-image: -o-linear-gradient(left, #3acfd5 0%, #3a4ed5 100%), -o-linear-gradient(left, #3acfd5 0%, #3a4ed5 100%);
    background-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%), linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%);
}

.title:hover{
    background-repeat: no-repeat;
    border-radius: 15px;
    margin: auto;
    margin-bottom: 3.5rem;
}

.navbar-nav .nav-item span {
  display: inline-block;
  padding-bottom: 0.425rem;
  padding-top: 0.425rem;
}

#size{
  width: 75px;
  height: 75px;
}

h1 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

#messages {
  max-height: 450px;
  overflow-y: auto;
  .avatar {
    margin: 0.5rem;
  }
}

footer {
  margin-top: 50px;
}


.button:hover{

  border-right: 0px solid #add8e6;
  background-position: right bottom;
  color: black;
  /*border-bottom: 2.5px solid #add8e6;*/

}

.button{
  text-decoration: none !important;
  list-style: none !important;
  background-position: left bottom;
  background: linear-gradient(to right, transparent 50%, #FFFFFF 50%);
  text-align: center;
  color: white;
  width: 125px;
  height: 25px;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
  background-size: 200% 100%;
  border-radius: 4px;
  margin-right: 75px;

  border-right: 2.5px solid #add8e6;


  transition: all 0.3s ease;
}

#userInfo{
  display: inline-block;
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
  position: absolute;
  margin-left: 80%;
}

.navbar{
    height: 15rem;
}

table{
}

td{
  padding: 5px 5px 5px 5px;
}

th{
  padding: 5px 5px 5px 5px;
}

.landing{
  margin: auto;
  display: block;
  width: 550px;
  height: 650px;
  border: 5px dotted black;
  border-radius: 10px;
  transition: all 0.7s ease;
}

.landing:hover{
  border-radius: 50px;
}

.element{
  margin: 50px 50px 50px 50px;
}

.underBorder{
  border-radius: 5px;
  border-top: 2px solid #add8e6;
  border-left: 2px solid #add8e6;
}
